css
* {
  box-sizing: border-box;
}

body {
    background-image: url(phon.jpg);
    /* transform: scale(1.5); */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.menu{
    display: flex;
    justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_wrapper{   
    left: 900px;
    top: 460px;
    max-width: 2000px;
    transform: scale(2);
    width: 100%;
    position: relative;
}

.map_wrapper svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.continent{
    visibility: hidden;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 3px;
    cursor: pointer;
    pointer-events: all;
}
.continent:hover{
    visibility: visible;
}
.continent:hover{
    animation: highliteContinent 2s linear infinite;
}

@keyframes highliteContinent{
    0%{
        stroke: rgb(0, 0, 0);
    }
    50%{
        stroke: rgb(250, 0, 0);
    }
    100%{
        stroke: black   ;
    }
}
.tooltip{
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* display: none; */
}
.info__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s all;
    pointer-events: none;
    z-index: 10;
}
.info__bg.active {
    pointer-events: all;
    opacity: 1;
    transition: 0.3s all;
}
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    width: 500px;
}

#nav-icon3 {
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #90b5cc;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 12px;
  }
  #nav-icon3 span:nth-child(4) {
    top: 24px;
  }
  #nav-icon3.open span:nth-child(1),#nav-icon3.opened span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2),#nav-icon3.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3),#nav-icon3.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4),#nav-icon3.opened span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .sidebar #nav-icon3 span {background: #fff;}

body.sidebar-opened {overflow:hidden;}
.hidden-overley {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #0f0700; /* opacity*/
    opacity:0;
    width:0;
    height:0;
    transition: opacity 1s;
}
.hidden-overley.show {
    height: 100%;
    width: 100%;
    opacity:0.5;
    transition: opacity 1s;
}
.sidebar{
  max-height: 1200px;
  position: fixed;
  z-index:100;
  width: 400px; /*подогнать размер бара тут*/
  height: 100%;
  right: -400px;
  top:0;
  /* background-image: url(svitok.png); внутренность */
  background-position: 8620px -250px; /*-1000px сама картинка*/
  transition: right 0.4s ease;
  overflow: auto;
}
.sidebar .d-flex.p-2 {display:-webkit-box;display:flex;padding: 10px!important;} /* где лежит иконка */
.sidebar .text{
  color: rgb(252, 217, 143);/* фон текста*/
  font-size: 18px;
  font-weight: 600;
  line-height: inherit;
  text-align: center;
  /* background-image: url(svitok-2.png); меню сайта */
  letter-spacing: 1px;
  -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between; -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
}
.sidebar .side-tel {font-size:0.8rem;}
.sidebar .text a {color: white;}

.sidebar.show{
  right: 0px;
}
.sidebar ul{
  background: none;
  height: auto;
  width: 100%;
  list-style: none;
      margin: 0;
      padding:0;
}
.sidebar ul li{
  line-height: 60px;
  border-top: 1px solid #eee;
  margin: 0;
}
.sidebar ul li:last-child{
  border-bottom: 1px solid rgba(252, 0, 0, 0.05);
}
.sidebar ul li a{
  box-sizing:border-box;    
  position: relative;
  color: #000000; /*цвет текста*/
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid #eee;/* хуйни слева*/
}
.sidebar ul li.current-menu-item a{
    color: #000000; /* цвет шрифта главная*/
    /* background: #F5F5F5;цвет главная */
    border-left-color: #b80000;
}
.sidebar ul li a:hover{
    cursor:pointer;
    background: #F5F5F5; /* фон кнопок учлуги  и тд*/
    border-left-color: #217500; /* цвет плажки слева*/
}
.sidebar ul ul{
  position: static;
  display: none;
}
.sidebar ul .sub-menu.show{
  display: block;
}

.sidebar ul ul li{
  line-height: 42px;
  border-top: none;
}
.sidebar ul ul li a{
  font-size: 17px;
  color: #000000; /* цвет шрифта */
  padding-left: 40px;
}
.sidebar ul li.current-menu-item ul li a{
  color: #333;
  background: #f9f9f9;
  border-left-color: transparent;
}
.sidebar ul li ul li.current-menu-item a {color:#f39821;}
.sidebar ul ul li a:hover{
  color: #333!important; /* цвет шрифта при наведении*/
  background: #F5F5F5!important; /* фон кнопок учлуги внутри и тд*/
}
.sidebar ul li a i:before {display:none;}
.sidebar ul li.menu-parent-item a i:before{
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
  width: 20px;
    height: 20px;
    background-repeat:no-repeat; 
    background-position: 0 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.011 512.011' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: contain;
    display: block;
}
.sidebar ul ul a i:before {display:none !important;}
.sidebar ul li a i.rotate:before{
  transform: translateY(-50%) rotate(-180deg);
}

.head{
    width: 1000px;
}