{% extends "map/base.html" %}
{% block mainsector %}
            <h1>{{ hero.first_name }} {{ hero.last_name}}</h1>

            <div style="display: flex;justify-content: center;"><img src="{% if hero.image %} {{ hero.image.url }} {% endif %}" alt="Сафрон пытается добыть изображения,скоро они будут доступны" style="width: 400px; height: 500px;border: 1px solid;border-radius: 1rem;text-align: center;"></div>
            <h3>Описание:</h3>
            <div class="description">{{ hero.description }}</div>
            <!-- <div class="cities">
                <h3>Посещённые Страны:</h3>
                <ul>
                    {% for country in countries %}
                        <li><a href="{% url "country_page" country.slug %}">{{ country.name }}</a></li>
                    {% empty %}
                        <li>Герой пока не посетил ни одного города.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cities">
                <h3>Посещённые города:</h3>
                <ul>
                    {% for city in cities %}
                        <li><a href="{% url "city_page" city.slug %}">{{ city.name }}</a></li>
                    {% empty %}
                        <li>Герой пока не посетил ни одного города.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cities">
                <h3>Посещённые Дервени:</h3>
                <ul>
                    {% for village in villages %}
                        <li><a href="{% url "city_page" village.slug %}">{{ village.name }}</a></li>
                    {% empty %}
                        <li>Герой пока не посетил ни одного города.</li>
                    {% endfor %}
                </ul>
            </div> -->
            <div class="cities">
                <h3>Участие в приключениях:</h3>
                <ul>
                    {% for adventure in advenures %}
                        <li><a href="{% url 'adventure_page' adventure.slug %}">{{ adventure.name }}</a></li>
                    {% empty %}
                        <li>Герой пока не учавствовал в приключениях</li>
                    {% endfor %}
                </ul>
            </div>
{% endblock mainsector %}
