
{% extends "map/base.html" %}
{% block page_name %}  Информация о {{location.name}} {% endblock page_name %}
{% block mainsector %}
    {% if location.capital %}
        <h1>{{ location.name }}</h1>
    {% elif location.is_city == True  %}
        <h1>{{ location.name }}</h1>
    {% else %}
        <h1>{{ location.name }}</h1>
    {% endif %}
    <div style="display: flex;justify-content: center;"><img src="{% if location.image %} {{ location.image.url }} {% endif %}" alt="Сафрон пытается добыть изображения,скоро они будут доступны" class="location-image" style="border: 1px solid; border-radius: 1rem; text-align: center;"></div>
    {% if location.capital %}
    <h2> Столица:
        <a href="{% url 'city_page' location.capital.slug %}">г. {{ location.capital.name }} </a>
    </h2>
    {% endif %}
    <h3>Описание:</h3>
    <div class="description">{{ location.description|safe }}</div>
    <div class="description"><b>Статус:</b> {{ location.get_status_display }}</div>
    <div class="description"><b>Население:</b> {{ location.get_population_display }}</div>
    {% if location.glava %}
    <div class="description" id='Глава локации'><b>Глава локации: </b><a href="{% url "npc_page" location.glava.slug %}">{{ location.glava }}</a></div>
    {% endif %}
    {% if location.Land %}
        <div class="description">
            <b>Принадлежность:</b><a href="{% url 'country_page'  location.Land.slug  %}"> {{ location.Land.name }}</a>
        </div>
    {% endif %}
    {% if location.cities.all.exists %}
        <p><b>Города входящие в страну:</b> {{ location.city_exists }}</p>
        {% for city in location.cities.all %}
        <div class="description">
            <a href="{% url 'city_page' city.slug  %}">{{ city.name }}</a>
        </div>
        {% endfor %}
    {% endif %}
    {% if location.villages.all.exists %}
        <p><b>Деревни входящие в страну:</b></p>
        {% for village in location.villages.all %}
        <div class="description">
            <a href="{% url 'city_page' village.slug  %}">{{ village.name }}</a>
        </div>
        {% endfor %}
    {% endif %}
    {% if location.npcs.all %}
    <div class="cities">
        <h3>Связанные НПС:</h3>
        <ul>
            {% for npc in location.npcs.all %}
                <li><a href=" {% url 'npc_page' npc.slug %}">{{ npc.name }}</a></li>
            {% empty %}
                <li>Неизвестно</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if location.what_adventures.all  %}
    <div class="cities">
        <h3>Связанные Приключения:</h3>
        <ul>
            {% for adventure in location.what_adventures.all %}
                <li><a href="{% url 'adventure_page' adventure.slug %}">{{ adventure.name }}</a></li>
            {% empty %}
                <li>Отстутствуют</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock mainsector %}
    {% block scriptbody %}    
       
    {% endblock scriptbody %}