{% extends "map/base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/about_adventure.css' %}">
{% endblock styles %}
{% block mainsector %}
{% if adventure.image %}
<img src="{{ adventure.image.url }}" alt="">
{% endif %}
<h1>{{ adventure.name }}</h1>
<h3>Описание:</h3>
<div class="description">{{ adventure.description }}</div>
<div class="cities">
    <h3>Герои,учавствовавшие в приключении</h3>
    <ul>
        {% for hero in adventure.heroes.all %}
            <li><a href="{% url "hero_page" hero.slug %}">{{ hero.first_name }}</a></li>
        {% empty %}
            <li>Не один герой не учавствовал в приключении</li>
        {% endfor %}
    </ul>
</div>
<div class="cities">
    <h3>NPC,учавствовавшие в приключении</h3>
    <ul>
        {% for npc in adventure.npcs.all %}
            <li><a href="{% url "npc_page" npc.slug %}">{{ npc.name }}</a></li>
        {% empty %}
            <li>Не один герой не учавствовал в приключении</li>
        {% endfor %}
    </ul>
</div>
<!-- <section class="reviews-container">
    <h2 class="reviews-text">Отзывы</h2>
    <div class="reviews-card">
        <div class="reviewer-info">
            <img class="reviewer-pic" src="{% static '4.png' %}" alt="">
            <a href="">Имя оценщика</a>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel culpa voluptas velit in animi nulla aspernatur architecto earum ullam possimus, deserunt officiis asperiores ab numquam tenetur maiores, dignissimos laboriosam recusandae aperiam error sunt distinctio? Accusamus id suscipit consequuntur molestiae, quae, nihil vero earum veritatis incidunt aperiam corporis, ipsam reprehenderit magni!</p>
    </div>
</section> -->
{% endblock mainsector %}

